# Production Type
IsDev="true or false"

# Application Secrets
PublicHost=""
PublicPort=""

# DB Config
DBHost=
DBPort=
DBUser=
DBPassword=""
DBName=

# Goose Configuration
GOOSE_DRIVER="postgres"
GOOSE_DBSTRING=postgres://user:password@host:port/name
GOOSE_MIGRATION_DIR=./migrations

# OPENAI KEYS
OPENAI_KEY=""

# Cloudmersive API
CLOUDMERSIVE_KEY="919bcd50-4f8c-4ef2-9a16-a14acc7de73e"
